Package: {{ job.debian.packageName }}
Architecture: {{ job.debian.architecture }}
Maintainer: Jacek Bzdak
Depends: {{ job.debian.depends }}
Priority: optional
Version: {{ job.debian.version }}
Description: Python interpreter version {{ job.debian.priority }}
 installed in /opt/python/* folder.
